/* canvas {
  position : fixed;
  left : 0;
  top : 0; */
  /* background-color: aquamarine; */
/* }

main {
  position: absolute;
} */

@import url("https://use.typekit.net/jmk3xov.css");

/* This is the background. On this other objects are placed. */
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

/* Applying style to all the elements */
:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  /* This provides a dark bg to most of the <p>s */
  --spacing: 350px; 
  /* This is for spacing between all the elements */

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* This is the element containing all the elements which are displayed on top of the background canvas. If you remove the background only this plain/designed but static items remain. */
main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


/* **2 */
  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

/*  **1 */
  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }